In [82]:
import pandas as pd
import numpy as np

# Read data
AppUser = pd.read_csv(r"C:\Users\ASUS\Desktop\strike\jupyter\AppUser.csv")
AppUserTxn = pd.read_csv(r"C:\Users\ASUS\Desktop\strike\jupyter\AppUserTxn.csv")
KycInfo = pd.read_csv(r"C:\Users\ASUS\Desktop\strike\jupyter\KycInfo.csv")
KycProfile = pd.read_csv(r"C:\Users\ASUS\Desktop\strike\jupyter\KycProfile.csv")

In [83]:
# DATA CLEANING

In [84]:
#AppUser Table
AppUser.head()

,Guid,Created,UserState,Restriction,DefaultCurrency,DefaultLanguage
0,59532fd4-21e2-49b3-88a1-45dfbc7ce03c,2021-11-29,2,3,USD,en
1,67826560-77be-4e52-8360-699c603c9028,2021-12-28,6,0,USD,en
2,045cc08b-55a5-4e69-be0c-cc6de11beeb7,2022-01-26,2,0,USDT,es
3,ddf2d9b3-f4b5-404e-8f02-451402ec110c,2022-02-20,2,4,USD,en
4,22a0a2eb-9ae9-480c-b564-4e99e5e0b503,2022-01-17,2,0,USD,en

In [85]:
# check columns data type
AppUser.dtypes

Guid               object
Created            object
UserState           int64
Restriction         int64
DefaultCurrency    object
DefaultLanguage    object
dtype: object

In [86]:
# check how many null values for each column
AppUser.isnull().sum()

Guid                 0
Created              0
UserState            0
Restriction          0
DefaultCurrency    230
DefaultLanguage      0
dtype: int64

In [87]:
# check all the unique values in the "DefaultCurrency" column
AppUser["DefaultCurrency"].unique()

array(['USD', 'USDT', nan], dtype=object)

In [88]:
# Substitue null values with '-1'
AppUser["DefaultCurrency"].fillna('-1', inplace = True)

# check null values
AppUser.isnull().sum()

Guid               0
Created            0
UserState          0
Restriction        0
DefaultCurrency    0
DefaultLanguage    0
dtype: int64

In [89]:
# check if there are repeated values in "Guid" column (outpu: True == 'no duplicates')

AppUser["Guid"].is_unique

True

In [94]:
# replace 'en' = 'EN', 'es' = 'ES'
AppUser["DefaultLanguage"].replace({'en':'EN', 'es':'ES'}, inplace = True)

In [203]:
# sort by "Created"
AppUser = AppUser.sort_values(by="Created")
AppUser.head()

,Guid,Created,UserState,Restriction,DefaultCurrency,DefaultLanguage
4593,e0613735-467a-4cb3-b10f-b3653c9c4d52,2020-02-04,6,0,USD,EN
1867,17a84363-4f40-4362-976d-3086db50e939,2020-02-19,6,0,USD,EN
3811,1d3035e8-4dc0-44f6-9603-ffc93332fb01,2020-06-04,2,0,-1,EN
1425,2fb277a6-ad97-4b44-81a6-f9771c40fdc3,2020-07-02,6,0,USD,EN
2335,967e178c-9507-47e8-8d2e-ec060dfced6e,2020-07-02,2,0,USD,EN

In [167]:
#AppUserTxn
AppUserTxn.head()

,Guid,AppUserId,State,Created,Posted,Completed,Claim,Source
0,81094b46-cdf1-4109-a70c-9133555a3f89,dc989253-5d51-4fa9-8d5e-61659897fb74,3,2021-07-02,2021-07-02,2021-07-12,1,2
1,169b0889-e385-4836-8a16-373678ec006f,dc989253-5d51-4fa9-8d5e-61659897fb74,3,2021-07-03,2021-07-03,2021-07-07,2,2
2,7c1a3918-5379-4f19-a9e1-2ef171b00166,487981e7-4964-4c11-86d8-a1647e2c1a9e,3,2021-04-28,2021-04-28,2021-04-28,1,4
3,04efb1d7-f50e-4afe-97e9-07e3ac272678,487981e7-4964-4c11-86d8-a1647e2c1a9e,3,2021-04-28,NaN,2021-04-28,2,1
4,4d983283-108d-4516-8d13-84f727fce684,487981e7-4964-4c11-86d8-a1647e2c1a9e,3,2021-04-29,NaN,2021-04-29,1,1

In [168]:
# check columns data type
AppUserTxn.dtypes

Guid         object
AppUserId    object
State         int64
Created      object
Posted       object
Completed    object
Claim         int64
Source        int64
dtype: object

In [169]:
# check how many null values for each column
AppUserTxn.isnull().sum()

Guid             0
AppUserId        0
State            0
Created          0
Posted       44099
Completed    43449
Claim            0
Source           0
dtype: int64

In [170]:
# "Posted" and "Completed" columns are dates
# substitute null values with '-1'
AppUserTxn["Posted"].fillna('-1', inplace = True)
AppUserTxn["Completed"].fillna('-1', inplace = True)
# check null values
AppUserTxn.isnull().sum()

Guid         0
AppUserId    0
State        0
Created      0
Posted       0
Completed    0
Claim        0
Source       0
dtype: int64

In [171]:
# check if there are repeated values in "Guid" column (outpu: False == 'there are duplicates')

AppUserTxn["Guid"].is_unique

False

In [172]:
# Drop duplicate Guid's

AppUserTxn = AppUserTxn.drop_duplicates(['Guid'], keep = 'first')
AppUserTxn

,Guid,AppUserId,State,Created,Posted,Completed,Claim,Source
0,81094b46-cdf1-4109-a70c-9133555a3f89,dc989253-5d51-4fa9-8d5e-61659897fb74,3,2021-07-02,2021-07-02,2021-07-12,1,2
1,169b0889-e385-4836-8a16-373678ec006f,dc989253-5d51-4fa9-8d5e-61659897fb74,3,2021-07-03,2021-07-03,2021-07-07,2,2
2,7c1a3918-5379-4f19-a9e1-2ef171b00166,487981e7-4964-4c11-86d8-a1647e2c1a9e,3,2021-04-28,2021-04-28,2021-04-28,1,4
3,04efb1d7-f50e-4afe-97e9-07e3ac272678,487981e7-4964-4c11-86d8-a1647e2c1a9e,3,2021-04-28,-1,2021-04-28,2,1
4,4d983283-108d-4516-8d13-84f727fce684,487981e7-4964-4c11-86d8-a1647e2c1a9e,3,2021-04-29,-1,2021-04-29,1,1
...,...,...,...,...,...,...,...,...
93224,3ff4c1ea-703b-4706-816f-0efefceb6739,5ac848ae-de90-4435-a114-73851f0cdad3,3,2021-07-02,2021-07-02,2021-07-02,1,4
93225,0ccb3856-c45f-49c3-9cd4-c21d528a565b,5ac848ae-de90-4435-a114-73851f0cdad3,3,2021-07-02,2021-07-02,2021-07-02,1,4
93226,62572727-562f-44e2-b9ac-4b38ef3a1e55,859d115f-c0fa-454f-ab00-f1cfc9a064ed,3,2022-01-27,2022-01-27,2022-01-27,1,4
93227,17a51f07-9ec9-44ef-90cf-b2828fdfdc5a,4ad2ff8a-177d-4382-ac2c-5f039e3dbc86,3,2022-01-15,-1,2022-01-15,2,1
93228,fa3709ed-e2f8-4768-8cd2-940f87552367,4ad2ff8a-177d-4382-ac2c-5f039e3dbc86,3,2022-01-15,2022-01-15,2022-01-15,1,4

In [173]:
# check duplicates again

AppUserTxn["Guid"].is_unique

True

In [178]:
# sort by "Created"
AppUserTxn = AppUserTxn.sort_values(by="Created")
AppUserTxn.head()

,Guid,AppUserId,State,Created,Posted,Completed,Claim,Source
45431,6211e9f6-3a90-4763-9ad6-70171fc992ce,e0613735-467a-4cb3-b10f-b3653c9c4d52,3,2020-02-04,2020-02-04,2020-02-04,2,1
45451,a379f7e8-4284-4e82-8bbf-675c2701d844,e0613735-467a-4cb3-b10f-b3653c9c4d52,3,2020-02-04,2020-02-04,2020-02-04,2,1
45475,e173d710-c4e9-4995-9ef4-a3c4ae57b3b4,e0613735-467a-4cb3-b10f-b3653c9c4d52,3,2020-02-04,2020-02-04,2020-02-04,2,1
45500,9a8c5e5a-a054-4e81-83e4-4e557eb00c44,e0613735-467a-4cb3-b10f-b3653c9c4d52,3,2020-02-04,2020-02-06,2020-02-04,1,2
45499,db7cacb9-f82f-412d-ae2c-d6fec8ddd0b5,e0613735-467a-4cb3-b10f-b3653c9c4d52,3,2020-02-04,2020-02-05,2020-02-06,1,2

In [180]:
# KycInfo
KycInfo.head()

,Guid,KycProfileId,DateOfBirth,Country
0,24ac491d-e85b-4fde-a068-68586d9a8164,59532fd4-21e2-49b3-88a1-45dfbc7ce03c,1961-12-22 00:00:00,US
1,87e11e7e-e6dd-4050-b6f2-3e40b99f9880,59532fd4-21e2-49b3-88a1-45dfbc7ce03c,1961-12-22 00:00:00,US
2,ab46f024-c57f-4825-9b3a-0ca79c13865c,59532fd4-21e2-49b3-88a1-45dfbc7ce03c,1961-12-22 00:00:00,US
3,a372669d-d129-444a-8aa9-26c67ca7db5e,59532fd4-21e2-49b3-88a1-45dfbc7ce03c,NaN,US
4,fd026c94-dcdb-4e05-a19d-8caba15b2eb7,59532fd4-21e2-49b3-88a1-45dfbc7ce03c,1961-12-22 00:00:00,US

In [181]:
# check columns data type
KycInfo.dtypes

Guid            object
KycProfileId    object
DateOfBirth     object
Country         object
dtype: object

In [182]:
# check how many null values for each column
KycInfo.isnull().sum()

Guid               0
KycProfileId       0
DateOfBirth     3140
Country            0
dtype: int64

In [184]:
# "DateOfBirth" column is dates
# substitute null values with '-1'
KycInfo["DateOfBirth"].fillna('-1', inplace = True)
# check null values
KycInfo.isnull().sum()

Guid            0
KycProfileId    0
DateOfBirth     0
Country         0
dtype: int64

In [185]:
# check if there are repeated values in "Guid" column (outpu: True == 'no duplicates')

KycInfo["Guid"].is_unique

True

In [191]:
# sort by "Created"
KycInfo = KycInfo.sort_values(by="DateOfBirth")
KycInfo.head()

,Guid,KycProfileId,DateOfBirth,Country
3063,960e9583-8aa0-410c-bf1a-cee9f780a2c7,6a4079e8-0d68-4400-b4a1-c06719419289,-1,US
2352,29177f86-012e-400b-91d0-dd79cce26c37,13023ea8-d066-4110-a4c5-433749d32a3e,-1,US
4632,ddb46b44-2bd9-41ac-a685-b6aadceb767e,65f3fa06-112c-428a-b3b3-dde80e63e93f,-1,US
4631,abb84834-fef7-4d1d-bef2-2ea75f665e1d,65f3fa06-112c-428a-b3b3-dde80e63e93f,-1,US
12531,996f24cd-73ec-46a8-8f08-f5bc857c4e67,fa7e884e-3b8f-4c98-8d08-80d88045c0db,-1,US

In [194]:
# KycProfile
KycProfile.tail()

,Guid,KycState,UserKycInfoId,VerifiedLightKycInfoId,VerifiedFullKycInfoId
4765,4ad2ff8a-177d-4382-ac2c-5f039e3dbc86,29,cef01a9a-2b67-4f47-92f9-10c4659502d3,NaN,8d34479f-1600-48e1-bf00-fe93055e7348
4766,44a8efa5-9d9c-4eaa-a703-8dd22d75ac21,29,6eab3425-984f-47bd-ac7a-3b2b37916acd,NaN,c83216eb-f92f-4b86-8ab8-c308797ce217
4767,c63ad51e-a4a6-4b45-9641-2353477b7010,21,cff2cefb-0439-4060-acc1-83087ff2b89d,NaN,NaN
4768,64639e56-29ad-4346-90c2-9f40c61e1a86,0,05914b5a-7635-485c-9d11-f2a2a2db4cc2,NaN,NaN
4769,87cd157c-ac7d-454f-8ec6-d96b6b764136,29,3c54b9f8-0c95-4d6f-afbc-3be79fccb6be,edcaf966-90ec-4d02-a514-770c1dc98574,ea321312-346d-44ed-b8a1-775c2d2d606f

In [195]:
# check columns data type
KycProfile.dtypes

Guid                      object
KycState                   int64
UserKycInfoId             object
VerifiedLightKycInfoId    object
VerifiedFullKycInfoId     object
dtype: object

In [197]:
# check how many null values for each column
KycProfile.isnull().sum()

Guid                         0
KycState                     0
UserKycInfoId                0
VerifiedLightKycInfoId    4167
VerifiedFullKycInfoId     2793
dtype: int64

In [200]:
# Substitue null values with '-1'
KycProfile["VerifiedLightKycInfoId"].fillna('-1', inplace = True)
KycProfile["VerifiedFullKycInfoId"].fillna('-1', inplace = True)

# check null values
AppUser.isnull().sum()

Guid               0
Created            0
UserState          0
Restriction        0
DefaultCurrency    0
DefaultLanguage    0
dtype: int64

In [201]:
# check if there are repeated values in "Guid" column (outpu: True == 'no duplicates')

KycProfile["Guid"].is_unique

True

In [204]:
KycProfile.tail()

,Guid,KycState,UserKycInfoId,VerifiedLightKycInfoId,VerifiedFullKycInfoId
4765,4ad2ff8a-177d-4382-ac2c-5f039e3dbc86,29,cef01a9a-2b67-4f47-92f9-10c4659502d3,-1,8d34479f-1600-48e1-bf00-fe93055e7348
4766,44a8efa5-9d9c-4eaa-a703-8dd22d75ac21,29,6eab3425-984f-47bd-ac7a-3b2b37916acd,-1,c83216eb-f92f-4b86-8ab8-c308797ce217
4767,c63ad51e-a4a6-4b45-9641-2353477b7010,21,cff2cefb-0439-4060-acc1-83087ff2b89d,-1,-1
4768,64639e56-29ad-4346-90c2-9f40c61e1a86,0,05914b5a-7635-485c-9d11-f2a2a2db4cc2,-1,-1
4769,87cd157c-ac7d-454f-8ec6-d96b6b764136,29,3c54b9f8-0c95-4d6f-afbc-3be79fccb6be,edcaf966-90ec-4d02-a514-770c1dc98574,ea321312-346d-44ed-b8a1-775c2d2d606f